@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    /* background-color: hsl(0, 0%, 100%); */
    background-color: rgb(121, 115, 115);
    font-size: 15px;
}

body, button {
    font-family: 'Alata', 'Josefin Sans', sans-serif;
}